.homepage{
    /* background-color: rgb(243, 206, 151); */
    text-align: center;
    width: 100%;
    height: 500px;
    margin: 0;
    background: linear-gradient(rgb(214, 193, 124),rgb(206, 137, 81));

    
}