.nav{
    background: linear-gradient(rgb(214, 193, 124),rgb(206, 137, 81));
    font-size:  20px;
    padding: 2rem 1rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}
.nav-links,.nav-btn{
    display: flex;
    gap:  2rem;

}
.nav-link{
    text-decoration: none;
}

.login-btn,.logout-btn{
    text-decoration: none;
}